# compiled data
__pycache__
# .vscode settings
.vscode
# virtual enviornments like uv
.venv
# Ignore eggs
*.egg-info
# Random textfiles I am using to make sure llparse's debugging
# can be properly mimiced to ensure what is added has been correctly implemented
*.txt
